# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec
build/
dist/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
